.brands{
  width: 100%;
  box-sizing: border-box;

  .ul{
    margin: -5px;
  }

  .charGroup{
    width: 100%;
    box-sizing: border-box;
    padding: 5px;



    .charGroupContainer{
      box-sizing: border-box;
      background-color: white;
      padding: 10px;

      .titleCard{
        font-size: 30px;
        font-weight: bold;
        padding-bottom: 2px;
        padding-left: 10px;
        cursor: default;
      }

      .item{
        cursor: pointer;
        padding: 5px 10px;
        color: #a5a5a5;
        display: block;
      }

      .item:hover{
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }
}



.myMasonryGrid {
  display: flex;
  margin-left: 0;
  width: 100%;
}
.myMasonryGrid_column {
  padding-left: 0;
  background-clip: padding-box;
}


