.navigation{
  display: flex;
  flex-direction: row;
  height: 100%;
  box-sizing: border-box;

  .navItem{
    position: relative;
    margin-right: 52px;
    box-sizing: border-box;

    .navLink{
      height: 100%;
      box-sizing: border-box;
      color: #272727;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.67;
      text-transform: uppercase;
      position: relative;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-decoration: none;
      padding: 0 17px;
    }
  }

}
