.search_active{
  position: relative;
  width: 100% !important;
  height: 100%;
  transition: width 300ms ease-out;
  z-index: 2;
}


.Search{
  box-sizing: border-box;
  box-shadow: none;
  height: 100%;
  margin-bottom: 0;
}
