.footerTop{
  background-color: #272727;
  padding: 22px 0 33px;

  .about{
    width: 50%;
    font-size: 0.875rem;
    line-height: 1.5;
    margin: 0 10px 0 20px;

    .wrapAbout{
      width: 92%;
      color: white !important;
    }
  }
}

.footerBottom{
  background-color: #383838;
  padding: 0;



}


.wrap {
  max-width: 1400px;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0);
  color: white !important;
  font-weight: 100;

  .container {
    height: 60px;
    min-height: 60px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: default;
  }
}
