.products{
  width: 100%;
  box-sizing: border-box;
  margin: 33px 0 60px;



  .grid{
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto 1fr 1fr auto;
    grid-template-areas:
            "filters sorters sorters sorters"
            "filters productsList productsList productsList"
            "filters productsList productsList productsList"
            "filters pagination pagination pagination"
  ;
  }

  .filters{ grid-area: filters; }
  .sorters{ grid-area: sorters; }
  .productsList{ grid-area: productsList; }
  .pagination{ grid-area: pagination; }
}
