.products{
  width: 100%;
  padding: 2px 10px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;

  max-width: 1400px; // может и не надо


  .grid{
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 90px 1fr 1fr 65px;
    grid-template-areas:
            "filters sorters sorters sorters"
            "filters productsList productsList productsList"
            "filters productsList productsList productsList"
            "filters pagination pagination pagination"
  ;
  }

  .filters{ grid-area: filters; }
  .sorters{ grid-area: sorters; }
  .productsList{ grid-area: productsList; }
  .pagination{ grid-area: pagination; }
}
