.app{
  display: flex;
  min-height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  flex-flow: column;
  background-color: #f2f2f2;




  .header {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    height: 60px;
  }

  .main{
    flex: 1;
    display: flex;
    margin: 70px auto 50px;
    padding: 8px 0 18px;
    box-sizing: border-box;
    width: 100%;

    max-width: 1400px;
  }


  .footer{
    margin-top: auto;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #1815ff;

    .footerTop{
      background-color: #272727;
      padding: 42px 0 53px;
    }

    .footerBottom{
      background-color: #383838;
      padding: 25px 0 27px;
    }
  }
}
