.template{
  position: fixed;
  width: 100vw;
  z-index: 99999;
  left: 0;
  right: 0;
  box-sizing: border-box;
  top: 60px;
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  .container{
    height: 300px;
    box-sizing: border-box;
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 12px;
  }
}

._enter{
  opacity: 0;
}

._enter_active{
  opacity: 1;
  transition: opacity 200ms;
}

._enter_is_done{
  opacity: 1;
}

._exit{
  opacity: 1;
}

._exit_active{
  opacity: 0;
  transition: opacity 200ms;
}

._exit_is_done{
  opacity: 0;
}
